@import url('https://fonts.googleapis.com/css?family=Lato|News+Cycle');

.landing-intro {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url('./../images/landing-page.jpg') 50% 50% no-repeat;
  background-size: cover;
  display: table;
}


.landing-intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 200px auto auto 15px;
  text-align: center;
  padding-bottom: 20px;
  background-color: rgba(255,255,255,.8);
  border-radius: 5px;
}

.content h2 {
  color: rgb(87,77,79);
  text-shadow: 0px 0px 300px #000000;
  font-size: 200%;
  text-align: left;
  padding: 3% 0 0 3%;
  margin: auto;
}

.btn {
  border-radius: 9px;
  background-color: rgba(255,255,255,.5);
  border: solid rgb(87,77,79) 3px;
  color: rgb(87,77,79);
  text-align: center;
  font-size: 100%;
  padding: 5px 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 20px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-project {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
  margin: auto;
  margin-top: 20px;
  border-radius: 9px;
  background-color: rgba(255,255,255, .5);
  border: solid rgb(87,77,79) 3px;
  color: rgb(87,77,79);
  text-align: center;
  font-size: 100%;
  padding: 5px 15px;
  width: 200px;
  cursor: pointer;
}

.btn-project:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(87,77,79);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-project:hover, .btn-project:focus, .btn-project:active {
  color: white;
}

.btn-project:hover:before, .btn-project:focus:before, .btn-project:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn-team {
  font-family: "News Cycle", sans-serif;
  text-decoration: none;
  position: relative;
  text-align: right;
}

.btn-services {
  font-family: "News Cycle", sans-serif;
  text-decoration: none;
  margin-left: auto;
}

.point {
  padding-left: 3%;
  padding-right: 3%;
}


.landing-story {
  font-size: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 5% 6% 5% 6%;
}

.landing-services {
  font-family: "Lato", sans-serif;
  margin: 5% 6% 5% 6%;
}

.landing-services h2 {
  font-family: "News Cycle", sans-serif;
  text-transform: uppercase;
  font-size: 200%;
  text-align: center;
  color: #ba3f3f
}

.landing-services table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.icon {
  font-size: 500%;
}

.icon-label {
  font-family: "Lato", sans-serif;
  font-size: 100%;
}

.landing-projects {
  margin-top: 5%;
  margin-bottom: 5%;
}

.slider-image {
  max-width: 100%;
  padding-left: 10px;
}


.slider-wrapper {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.slider-wrapper .image-hover-reveal {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.30s, -webkit-transform 0.30s;
  transition: opacity 0.30s, transform 0.30s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.slider-wrapper:hover .image-hover-reveal {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.slider-wrapper img {
  display: block;
  position: relative;
  -webkit-transition: all 0.30s;
  transition: all 0.30s;
}

.slider-wrapper:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.image-hover-reveal h3 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.30s, -webkit-transform 0.30s;
  transition: opacity 0.30s, transform 0.30s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}


.image-hover-reveal:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.horizontal-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 3%;
  margin-right: 3%;
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
}

.landing-contact {
  background: url('./../images/landing-contact.jpg') 50% 15% repeat;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  background-size: cover;
}

.contact-wrapper {
  background: rgba(227, 181, 29, 0.6);
  height: 35vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.contact-slogan {
  margin: 2% auto;
}

.contact-wrapper h3{
  color: #FFFFFF;
  font-size: 200%;
  margin: auto 3% auto auto ;
  position: relative;
  text-align: right;
}

.btn-contact {
  font-family: "News Cycle", sans-serif;
  text-decoration: none;
  color: #696956;
  background: #E3E3E3;
  border-radius: 5px;
  text-align: center;
  font-size: 100%;
  width: 175px;
  cursor: pointer;
  float: right;
  margin-right: 3%;
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.btn-contact:hover, .btn-contact:focus, .btn-contact:active {
  background-color: #696956;
  color: white;
}


.footer-wrapper {
  background-color: #E3E3E3;
  text-align: center;
  padding-top: 7%;
}

.footer-wrapper p {
  font-family: "Lato", sans-serif;
  font-size: 60%;
  margin: 0;
}

.legal {
  font-family: "News Cycle", sans-serif;
  margin: 0 3% 5% 3%;
}

.legal a {
  text-decoration: none;
  color: black;
  padding: 0 3%;
  font-size: 70%;
  text-transform: uppercase;
}

.vco-logo {
  width: 10%;
  padding: 0;
}

.icon-contact {
  font-size: 150%;
  color: black;
  padding: 0 1%;
  margin-top: 1%;
}

.copyright {
  padding-bottom: 3%;
}



@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 150%;
  }
  .content{
    margin: 200px auto auto auto;
  }
  .btn {
    font-size: 70%;
    padding: 7px 15px;
  }
  p {
    font-size: 80%;
    line-height: 150%;
  }
  .icon {
    font-size: 300%;
  }
  .vco-logo {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .icon {
    font-size: 400%;
  }
  .table {
    width: 100%;
  }
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    display: block;
    margin-bottom: 30px;
  }
  .table tr tr {
    margin-bottom: 0;
  }
  .contact-wrapper h3 {
    font-size: 150%;
  }
}
