@import url('https://fonts.googleapis.com/css?family=Lato');

.toolbar {
  position: fixed;
  font-family: 'Lato', sans-serif;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(255,255,255,.7);
  height: 70px;
}

.toolbar_nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_logo {
  margin: .5rem 0 0 1.5rem;
}


.spacer {
  flex: 1;
}

.toolbar_nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_nav-items li {
  padding: 0 0.5rem;
}

.toolbar_nav-items a {
  color: rgb(87,77,79);
  text-decoration: none;
}

.toolbar_nav-items a:hover,
.toolbar_nav-items a:active {
  color: #000000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .toolbar_nav-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar_toggle-button {
    display: none;
  }

  .toolbar_logo {
    margin-left: 0;
  }
}
